.login_general {
    text-align: center;
}

.select_style {
    text-align: right;
}

.logo_pic{
    height: 15%;
    width: 15%;
    margin: 15px;
}

.bold {
    font-weight: 500;
}

.space{
    margin-bottom: 30px;
}
  