/* patientRowCss.module.css */

.container {
    display: flex;
    align-items: center; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
    margin: 0;    
  }

  .containerCenter{
    justify-content: center;
    display: flex;
    align-items: center; 
    border-top: 1px solid #ccc; 
  }

  .textContainer{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .pic {
    height: 40px;
    width: 40px;
    margin-left: 15px; 
  }
  
  .txt {
    font-size: 12px; 
  }

  .txtSpecial {
    font-size: 12px;
    text-align: right;
    width: 90%;
  }

  .tdStyle{
    width: 17%;
  }

  .bottomBorder  {
    border-top: 1px solid white; 
    border-bottom: 1px solid #ccc; 
  }
  