.main_pic{
    height: 150px;
    width: 190px;
    margin: 15px;
}

.pic{
    height: 70px;
    width: 90px;
    margin: 15px;
}

.bold {
    font-weight: 500;
}

.space{
    margin-bottom: 30px;
}
  